{
  "version": 1,
  "disable_existing_loggers": false,
  "formatters": {
    "standard": {
      "format": "[%(asctime)s][%(name)s] %(levelname)s - %(message)s",
      "datefmt": "%H:%M:%S"
    },
    "standard_with_date": {
      "format": "[%(asctime)s][%(name)s] %(levelname)s - %(message)s",
      "datefmt": "%Y-%m-%d %H:%M:%S"
    }
  },

  "handlers": {
    "default": {
      "level": "DEBUG",
      "formatter": "standard",
      "class": "logging.StreamHandler",
      "stream": "ext://sys.stdout"
    },

    "tofile_all":{
      "level": "INFO",
      "formatter": "standard_with_date",
      "class": "logging.FileHandler",
      "filename": "auctions_parsing.log",
      "mode": "a"
    },
    "tofile_last":{
      "level": "INFO",
      "formatter": "standard_with_date",
      "class": "logging.FileHandler",
      "filename": "auctions_parsing_last.log",
      "mode": "w"
    }
  },

  "loggers": {

    "__main__": {
      "handlers": [
        "default",
        "tofile_all",
        "tofile_last"
      ],
      "level": "DEBUG",
      "propagate": false
    },

    "auction_parsers": {
      "handlers": [
        "default"
      ],
      "level": "INFO",
      "propagate": false
    },

    "ProxyGrabber": {
      "handlers": [
        "default"
      ],
      "level": "INFO",
      "propagate": false
    },

    "ThreadsUtils": {
      "handlers": [
        "default"
      ],
      "level": "WARNING",
      "propagate": false
    },
    "Geocoders": {
      "handlers": [
        "default"
      ],
      "level": "INFO",
      "propagate": false
    }
  }
}